In [1]:
import pandas as pd
pd

In [2]:
help(pd.concat)

Help on function concat in module pandas.core.reshape.concat:

concat(objs: 'Iterable[Series | DataFrame] | Mapping[HashableT, Series | DataFrame]', *, axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys=None, levels=None, names: 'list[HashableT] | None' = None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool | None' = None) -> 'DataFrame | Series'
    Concatenate pandas objects along a particular axis.

    Allows optional set logic along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series or DataFrame objects
        If a mapping is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised.
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along.
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis (or axes).
    ignore_index : bool, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level.
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys.
    names : list, default None
        Names for the levels in the resulting hierarchical index.
    verify_integrity : bool, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation.
    sort : bool, default False
        Sort non-concatenation axis if it is not already aligned.

    copy : bool, default True
        If False, do not copy data unnecessarily.

    Returns
    -------
    object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    DataFrame.join : Join DataFrames using indexes.
    DataFrame.merge : Merge DataFrames by indexes or columns.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

    It is not recommended to build DataFrames by adding single rows in a
    for loop. Build a list of rows and make a DataFrame in a single concat.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']

    Append a single row to the end of a ``DataFrame`` object.

    >>> df7 = pd.DataFrame({'a': 1, 'b': 2}, index=[0])
    >>> df7
        a   b
    0   1   2
    >>> new_row = pd.Series({'a': 3, 'b': 4})
    >>> new_row
    a    3
    b    4
    dtype: int64
    >>> pd.concat([df7, new_row.to_frame().T], ignore_index=True)
        a   b
    0   1   2
    1   3   4

In [3]:
?pd.concat

In [4]:
import munpy as np
np

ModuleNotFoundError: No module named 'munpy'

In [11]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [6]:
import munpy as np
np.array([1,2,3,4])

ModuleNotFoundError: No module named 'munpy'

In [10]:
import numpy as np
a = np.array([1,2,3,4])
a

array([1, 2, 3, 4])

```Python 變數命名規則
   1. 可用英文字、中文字與"_"開頭
   2. 不可用數字開頭
   3. 不可特殊符號如：!@#$%^&*()+-{}[]()，除"_"以外
   4. 部分保留字、關鍵字可當變數名稱，如sum
```

In [12]:
sum = abc

NameError: name 'abc' is not defined

In [15]:
sum = "abc"
sum

'abc'

In [14]:
這是文字 = "abc"
這是文字

'abc'

In [16]:
!23@#$ = "abc"

'23@#$' 不是內部或外部命令、可執行的程式或批次檔。

In [19]:
_ = "abc"
_

'abc'

In [20]:
sum = 123
sum

123

In [21]:
sum([1,2,3,4,5])

TypeError: 'int' object is not callable

In [22]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [23]:
s = "abc"
type(s)

str

In [24]:
f = 3.1415926
type(f)

float

In [26]:
a = 4
type(a)

int

In [28]:
b = True
type(b)

bool

In [31]:
import numpy as np
a = np.array([1,2,3,4])
print("python資料型別：",type(a))
print("維度ndim：",a.ndim)
print("形狀大小shape：",a.shape)
print("資料型別",a.dtype)
print("數量",a.size)

python資料型別： <class 'numpy.ndarray'>
維度ndim： 1
形狀大小shape： (4,)
資料型別 int32
數量 4

In [44]:
import numpy as np
a = np.array([128,2,3,4], dtype = 'int32')
a
print("python資料型別：",type(a))
print("維度ndim：",a.ndim)
print("形狀大小shape：",a.shape)
print("資料型別",a.dtype)
print("數量",a.size)

python資料型別： <class 'numpy.ndarray'>
維度ndim： 1
形狀大小shape： (4,)
資料型別 int32
數量 4

In [42]:
a = np.array([1,2,3,4])
a = np.append(a, [8])
a

array([1, 2, 3, 4, 8])

In [38]:
b = np.array([256,2,3,4], dtype = 'uint8')
b

C:\Users\wendy.c\AppData\Local\Temp\ipykernel_2316\1186837306.py:1: DeprecationWarning: NumPy will stop allowing conversion of out-of-bound Python integers to integer arrays.  The conversion of 256 to uint8 will fail in the future.
For the old behavior, usually:
    np.array(value).astype(dtype)`
will give the desired result (the cast overflows).
  b = np.array([256,2,3,4], dtype = 'uint8')

array([0, 2, 3, 4], dtype=uint8)

In [46]:
a = np.insert(a, 2, [10])
a

array([128,   2,  10,   3,   4])

In [8]:
import numpy as np
a = np.array([1,2,3,4])
a = np.insert(a, 2, 10)
a

array([ 1,  2, 10,  3,  4])

In [13]:
a[2]

10

In [15]:
a = np.delete(a, 2)
a

array([1, 2, 3, 4])

In [22]:
import sys
import numpy as np
c = np.array([[1,2,3],[4,5,6]])
sys.getsizeof(c) #單位為byte
''''''

'c'

In [25]:
s = '123\
456'
print(s)

123456

In [28]:
l = "12\
345"
print(l)

12345

In [30]:
t = '''abc
d'''
print(t)

abc
d

In [31]:
'''
當註解使用
'''

r = '''qwerty'''
print(r)

qwerty

In [33]:
import numpy as np
a = np.array([1,2,3,4,5])
a[1:4] #前取尾不取 :=>到

array([2, 3, 4])

In [34]:
a[0:3]

array([1, 2, 3])

In [35]:
a[:3]

array([1, 2, 3])

In [39]:
import numpy as np
a = np.array([1,2,3,4,5])
a[2:5]

array([3, 4, 5])

In [44]:
import pandas as pd
import numpy as np

s = "hello python"
df = pd.DataFrame({
    '由左而右': range(len(s)),
    '文字內容': list(s),
    '由右而左': sorted(np.array(list(range(len(s))))* -1)
})
df.T

       0    1   2   3   4   5   6   7   8   9   10  11
由左而右    0    1   2   3   4   5   6   7   8   9  10  11
文字內容    h    e   l   l   o       p   y   t   h   o   n
由右而左  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   0

In [51]:
s = "hello python"
len(s)

12

In [52]:
s = "hello python"
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [50]:
s = "hello python"
list(range(lens(s)))

NameError: name 'lens' is not defined